 <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form name="form">
              <h1>Login Form</h1>
                <label class="item item-input">
                  <input type="email" placeholder="Email Id" name="email" id="email" ng-model="userData.emailId" required="required">
                </label>
                 <div class="form-error required">
                  <div class="form-validation-message" ng-message="required" ng-show="form.email.$error.required && form.email.$dirty">This field is required</div>
                  <div class="form-validation-message" ng-message="email" ng-show="form.email.$error.email && form.email.$dirty">Not valid email!</div>
                </div>
              
                <label class="item item-input">
                  <input type="password" placeholder="Password" name="password" id="password" ng-model="userData.password" required="required">
                </label>
                <div class="form-error required">
                    <div class="form-validation-message" ng-message="required" ng-show="form.password.$error.required && form.password.$dirty">This field is required</div>
                 </div>
              <div>
                <button class="btn btn-success submit" ng-disabled="!form.$valid"  ng-click="loginUser(userData)">
                Login
              </button>
                <a class="reset_pass" href="#">Lost your password?</a>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">Not a member?
                  <a href="/#signup" class="to_register"> Join Now </a>
                </p>

                <div class="clearfix"></div>
                <br />

               
              </div>
            </form>
          </section>
        </div>

        <div id="register" class="animate form registration_form">
          <section class="login_content">
            <form>
              <h1>Registration</h1>
              <div>
                <input type="text" class="form-control" placeholder="Username" required="" />
              </div>
              <div>
                <input type="email" class="form-control" placeholder="Email" required="" />
              </div>
              <div>
                <input type="password" class="form-control" placeholder="Password" required="" />
              </div>
			  <div>
                <input type="password" class="form-control" placeholder=" Confirm Password" required="" />
              </div>
			  
			  

              <div>
			    <a class="btn btn-success submit" href="#">Cancel</a>
                <a class="btn btn-success submit" href="#!/index">Submit</a>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">Already Registered ?
                  <a href="#signin" class="to_register"> Log in </a>
                </p>

                <div class="clearfix"></div>
                <br />

                
            </form>
          </section>
        </div>
      </div>
    </div>
  </body>
